.bar-nav {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    width: max-content;
    margin: auto;
    background-color: rgb(49, 181, 199);
}
.bar-nav li {
    list-style-type: none;
    display: inline-block;
}
.bar-nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 15px;
    margin: 0px;
}
.bar-nav a:hover {
    background-color: rgb(36, 129, 141);
    color: white;
}
.bar-nav li.separacion::after {
    content: " | ";
    font-weight: bold;
}